.topmain
  .topmain__image
    .topmain__image__text
      Always With Favorite Team
    .topmain__image__link
      = link_to new_user_session_path do
        Login
      =  link_to new_user_registration_path do
        Signup
      = link_to posts_path do
        Only View